<div class="rules">
  <h1>hello world</h1>

  <p>{inspect(@emojis, pretty: true)}</p>
  <ol>
    <%= for rule <- @rules do %>
      <li>
        <a href={~p"/rules/#{rule.id}"}>
          {rule.text}
        </a>
      </li>
    <% end %>
  </ol>
</div>
